{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div style="border-bottom: 1px black solid; display: flex;">
    <div style="float:left; width: 10%; border-right: 1px black solid"></div>
    <div style="float:left; padding: 1% 5%"><h1>Thank you Professor Howe!!</h1></div>
</div>
<div style="float: left; width: 10%; border-right: 1px black solid;">
    <h1 style="background-color: red; padding: 15% 0; margin: 12% 10%;">
        <center>YT</center>
    </h1>
    <h1 style="background-color: red; padding: 15% 0; margin: 12% 10%;">
        <center>AY</center>
    </h1>
    <h1 style="background-color: red; padding: 15% 0; margin: 12% 10%;">
        <center>JL</center>
    </h1>
    <h1 style="background-color: red; padding: 15% 0; margin: 12% 10%;">
        <center>ZK</center>
    </h1>
</div>
<div style="float: left; margin: 1.5%; width: 87%">
    <center style="background-color: cornflowerblue; margin: 0.5% 0; width: 125px">Project Scoping</center>

</div>
{% endblock %}