{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Thank you Professor Howe!!</h1>

<br><br>

<div style="border-bottom: 1px black solid; display: flex;">
    <div style="float:left; width: 10%; border-right: 1px black solid"></div>
    <h2 class='months'>Jun</h2>
    <h2 class='months'>Jul</h2>
    <h2 class='months'>Aug</h2>
    <h2 class='months'>Sep</h2>
</div>

<div style="float: left; width: 10%; border-right: 1px black solid;">
    <h1 class='names'>
        <center></center>
    </h1>
    <h1 class='names'>
        <center></center>
    </h1>
    <h1 class='names'>
        <center></center>
    </h1>
    <h1 class='names'>
        <center></center>
    </h1>
</div>

<div style="float: left; margin: 1.5%; width: 87%">
    <center class='plans' style='margin-top: 0'>information about where we're going...</center>
    <center class='plans'>information about where we're going...</center>
    <center class='plans'>information about where we're going...</center>
    <center class='plans'>information about where we're going...</center>
</div>
{% endblock %}